## Some temporary files
rse_temp
ucsc-knowngene-hg38*
count_groups.Rdata
hg38.sizes
introns_unique.Rdata
mean.bw

## Temp bash files
.*.sh

## Original scripts
prep_*.R

## Intermediate files
jx*tsv.gz

## Output files
counts_*.tsv.gz
rse*.Rdata
bw